/* #region default rules */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* #endregion default rules*/

/* #region common rules */

img {
    max-width: 100%;
}

.container {
    width: 80%;
    margin: auto;
}