/* #region default rules */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* #endregion default rules*/

/* #region common rules */

img {
    max-width: 100%;
}

.container {
    max-width: 1180px;
    margin: auto;
}

:root {
    --bg-header: #0084FD;
    --menu-text: #D0E8FF;
    --text-first-section: #5A6E7F;
    --bg-first-section: #B5DDFF;
    --bg-second-section: #9792E4;
    --get-started: #9A96E5;
    --its-free: #FDC15F;
}

.d_flex {
    display: flex;
    justify-content: space-between;
}

.col-4 {
    width: calc(100% / 12 * 4);
}

.col-6 {
    width: calc(100% / 12 * 6);
}

.col-8 {
    width: calc(100% / 12 * 8);
}
/* #endregion common rules */

/* #region header */

header {
    background-color: var(--bg-header);
}



nav a {
    text-decoration: none;
}

.menu_right a {
    color: var(--menu-text);
    padding: 0.5rem;

}

.menu_left {
    padding: 0.5rem;
}

.menu_right {
    padding: 1rem;
}

.btn {
    background-color: white;
    border-radius: 15px;
}

a.btn {
    padding-left: 1rem;
    padding-right: 1rem;
    color: black;
}

.menu {
    color: white;
    padding: 1rem;
    display: none;
}

/* #endregion header */

/* #region responsive rules */

@media screen and (max-width: 768px) {
   
    .menu_right {
            display: none;
        }
        
    .menu {
            display: contents;
        }
        
    header span {
            padding: 1.5rem;
        }
    .container {
        max-width: 730px;
        margin: auto;
    }
    
    .first_card {
        display: block;
    }
    
    .phone_img {
        object-fit:cover;
        margin-top: 3rem;
        margin-bottom: -0.25rem;
    }
    
    .strategic_planning .row {
        display: inline-block;
        justify-content: center;
    }
    
    .strategic_planning .col-6 {
        width: 100%;
    }

    .about_us .col-6 {
        width: 100%;
    }

    
    }
    




@media screen and (max-width: 480px) {
    
.menu_right {
    display: none;
}

.menu {
    display: contents;
}

span {
    padding: 1.5rem;
}


}


/* #endregion responsive rules */

/* #region body */

body {
    font-family: 'Open Sans', sans-serif;
}

.demo_application {
    margin-top: 2rem;
}

.phone_img {
    max-width: 300px;
}

.bg_first_section {
    background-color: var(--bg-first-section);
    padding-top: 1rem;
    padding-left: 1rem;
    padding-bottom: 0;
    padding-right: 2rem;
    border-radius: 1rem;
    
}

.title_section {
    padding: 1rem 0;
}

.infos h2 ,
.right_col h2 ,
.center_col h2 {
    color: var(--bg-header);
    padding: 1rem 1rem;
    
}



.infos p,
.right_col p,
.center_col p {
    color: var(--text-first-section);
    line-height: 1.5rem;
    padding: 2rem 1rem;
}




.btn_apple {
    padding: 0.5rem 3rem; 
    background-color: var(--bg-header);
    color: white;
    border-radius: 1rem;
    margin-top: 1rem;
}

.icon {
    color: var(--bg-header);
    font-size: 4rem;
}

.text_center {
    text-align: center;
    margin-left: 1rem;
}

.center_col {
    text-align: center;
}

.row {
    padding: 1rem;
}

.left_col {
    margin-left: 1rem;
}

.strategic_1 {
    padding-top: 4rem;
    padding-bottom: 4rem;
    
}

.strategic_planning {
    margin-top: 6rem;
    background-color: var(--bg-second-section);
}

.strategic_info p {
    color: white;
    padding: 2rem;
}

.strategic_info h2 {
    color: white;
    padding: 2rem;
}

.planning_right_text {
    text-align: center;
    padding: 1rem;
}

.planning_right_text p {
    padding: 2rem;
    line-height: 2rem;
}

.planning_right_text h2 {
    padding: 1rem;
}

.planning_right {
    background-color: white;
    border-radius: 3rem;
    margin-top: 5rem;
    padding: 5rem 3rem;
    margin-left: 2rem;
    padding-bottom: 1rem;

}

.arrow_down {
    background-color: var(--bg-second-section);
    border-radius: 100%;
    padding: 1rem;
}

.intro_expert {
    text-align: center;
    margin-top: 4rem;
}

.intro_expert h2 {
    color: var(--bg-second-section);
    padding: 1rem;
    font-size: 2.5rem;
}

.intro_expert p {
    font-size: 1.5rem;
}

.card {
    padding: 3rem;
    margin-top: 2rem;
    background-color: var(--bg-second-section);
    border-radius: 2rem;
    display: flex;
}

.size_img {
    width: 250px;
    border-radius: 150%;
}

.info_card {
    margin-left: 1.5rem;
    margin-top: 1.5rem;
    color: white;
}

.info_card h4 {
    margin-top: 2rem;
}

.work_with_us {
    background-color: var(--bg-second-section);
    margin-top: 4rem;
    padding: 5rem 7rem;
}

.work_with_us h2 {
    color: white;
    text-align: center;
    padding: 2rem;
}

.card_withus {
    background-color: white;
    border-radius: 2rem;
    padding: 4rem 3rem;
}

.card_withus h2,
.card_withus h3 {
    color: var(--bg-second-section);
    text-align: left;
    padding: 1rem 0;
}

.card_withus h2 {
    font-size: 4rem;
}

.card_withus p {
    line-height: 2rem;
    padding: 3rem 0;
}

.btn_more {
    background-color: var(--bg-second-section);
    border-radius: 2rem;
    padding: 1rem 3.5rem;
    color: white;
}

.gap {
    gap: 1rem;
}

.man_aboutus {
    max-width: 180px;
    border-radius: 100%;
}

.about_us {
    padding: 3rem;
}

.about_us h1 {
    color: var(--bg-second-section);
    font-size: 3rem;
    padding: 1.5rem 0;
}

.about_us p {
    padding: 1.5rem 0;
    line-height: 2rem;
}

.about_us_right {
    margin-left: 4rem;
    padding: 4rem;
}

.about_us_right p {
    color: var(--bg-second-section);
    font-size: 1.5rem;
    padding: 2rem 0;
}

.btn_linkedin {
    background-color: var(--bg-second-section);
    color: white;
    padding: 0.5rem 0.5rem;
    border-radius: 3rem;
    font-weight: bold;
}

.double {
    color: var(--bg-second-section);
    font-size: 70px;
    position: absolute;
    top: 2rem;
    left: 11rem;
}

.about_us_right {
    position: relative;
}

.its_free {
    background-color: var(--bg-second-section);
    color: white;
    text-align: center;
    padding: 4rem;
}


.simple {
    color: white;
}

.free {
    color: var(--its-free);
    font-size: 2rem;
    font-size: 4rem;
    padding: 1rem;
}

.simple {
    font-size: 3rem;
    font-weight: bold;
    padding: 1rem;
}

.free_1 {
    padding: 4rem;
}

.btn_started {
    color: var(--bg-second-section);
    background-color: white;
    padding: 2rem 5rem;
    border-radius: 3rem;
}

.credits{
    padding: 5rem;
}

.under_line {
    text-decoration: underline;
}
/* #endregion body */

/* #region footer */

footer {
    background-color: #333333;
    color: white;
    text-align: center;
    padding: 3rem;
}

.footer_credit_up {
    padding: 2rem;
}

.footer_credit_down {
    padding: 2rem;
}

/* #endregion footer */